* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  font-size: large;
  text-align: left;
  color: black;
  border: 1px solid #ddd;
  h3 {
    padding: 10px;
  }
}

.App-link {
  color: #61dafb;
}

div.App {
  width: 70%;
  margin: 10px auto;
}

footer {
  background-color: #61dafb;
  color: white;
  padding: 0.3rem;
}
